doctype html
html
  head
    meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')
    title Needy 
    style 
        include ../static/css/navbar.css 
        include ../static/css/login.css 
        include ../static/css/snackbar.css
    block style
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="../static/script/navbar.js") 
    script(src="../static/script/snackbar.js") 
    block scripts
  body
    nav.navbar
          div.start 
            | LOGO
          div.div#home #[a(href="/") Home] 
          div.div#category #[a(href="/") Recommandation] 
          div.div#catpost #[a(href="/createpost") Createpost] 
          div.div#myActivity #[a(href="/myactivity") My Activity ]
          div.div#contactUs #[a(href="/contact") Contact Us ]
          div.div#aboutUs #[a(href="/") About Us]
          div.last 
            if(isLoggedIn)
              //- button.btn#logoutbtn #[a(href="/logout") Logout]
              button(id="logoutbtn",class="btn",onclick="onClickOnLogout()") Logout
              button.btn#profilebtn #[a(href="/profile") MyProfile] 
            else   
              button.btn#loginBtn Login
              button.btn#Singupbtn #[a(href="/signup") Signup]
    #myModal.modal
        .modal-content
            
    div#snackbar Your like added to this post.
    block content
    footer#footer 
            | Copyright &copy; 2021 Needy.com | All Rigts reserved