doctype html
html
  head
    title Needy 
    style 
        include ../static/css/navbar.css
    block style 
    block scripts
      script(src="../static/script/navbar.js") 
  body
    nav.navbar
          div.start 
            | LOGO
          div.div#home #[a(href="/") Home] 
          div.div#category #[a(href="/") Category] 
          div.div#city #[a(href="/") City ]
          div.div#myActivity #[a(href="/") My Activity ]
          div.div#contactUs #[a(href="/") Contact Us ]
          div.div#aboutUs #[a(href="/") About Us]
          div.last 
              button.btn#loginbtn Login
              button.btn#Singupbtn Signup
              button.btn#logoutbtn Logout
              button.btn#profilebtn profile 
    block content
    footer#footer 
            | Copyright &copy; 2021 JainishDanceAcademy.com | All Rigts reserved