doctype html
html(id="html")
  head
    meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')
    meta(name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no")
    //- meta(http-equiv="Content-Security-Policy" content="script-src 'unsafe-hashes' 'unsafe-eval' 'unsafe-inline' 'nonce-2726c7f26c';script-src-attr 'unsafe-inline' 'unsafe-eval';img-src * http://localhost data: blob:")   
    block metas
    title Needy 
    script(src="../static/script/jQuery.min.js",nonce="2726c7f26c")
    script(src="../static/script/navbar.js",nonce="2726c7f26c") 
    script(src="../static/script/snackbar.js",nonce="2726c7f26c") 
    script(src="../static/script/dialogbox.js",nonce="2726c7f26c")
    block style
    style 
        include ../static/css/navbar.css 
        include ../static/css/login.css 
        include ../static/css/snackbar.css
        include ../static/css/dialogBox.css
    block scripts

    
  body(id="body")
    p#currentTab
    nav.navbar
          .burgerIcon 
            div
            div
            div
          div.start 
            | NeeDY
          div.flexible
            div.div#home Home
            //- div.div#category #[a(href="/") Recommandation] 
            div.div#catpost Createpost 
            div.div#myActivity My Activity
            div.div#contactUs Contact Us 
            div.div#aboutUs About Us
          div.last 
            if(isLoggedIn)
              button.btn#profilebtn MyProfile
              button(id="logoutbtn",class="btn") Logout
            else   
              button.btn#loginBtn Login
              button.btn#Singupbtn Signup
    #myModal.modal
        .modal-content
    div#id01.w3-modal
         include ./dialogBox.pug        
    div#snackbar Your like added to this post.
    block content
    section#footer 
            | Copyright &copy; 2021 Needy.com | All Rigts reserved