style 
    include ../static/css/change password.css 
.passmodal-header
    span.close &times;
    h2 Change Password 
.passmodal-body
    form() 
        .passcontainer 
            p#errorDisplay
            label(for="text" ) 
                b Old Password 
                input(type="text" class="passinput" id="oldpass" name="password" 
                  placeholder="Enter Your Old Password")
            label(for="text" ) 
                b New Password 
                input(type="text" class="passinput" id ="newpass" name="newpassword" placeholder="Enter Your New Password")
            label(for="text") 
                b Confirm Password 
                input(type="text" name="conpassword" id="conpass" class="passinput" 
                    placeholder="Enter Your Confirm Password")
            button(type="button" class="passbtn") Change Password