extends ./basic.pug

block style 
    style 
        include ../static/css/contact.css

block content
        .container 
            h1(class="h1") Contact Us
            form(action='/contact' method="post")
                .conform 
                    label(for='email') 
                        b.cu2 Email
                        input(type='email' name='email'  placeholder='Enter Your Email' id="email" required)
                    
                    label(for='title') 
                        b.cu1 Subject
                        input(type='text' id="title" name='subject' placeholder='Enter Subject' required)

                    label(for='desc') 
                        b.cu4 Description
                        textarea(name='desc' type="text" id="desc" placeholder='Type Your Message' required)

                    button(type="submit" class="button") Submit
        h1( class="h11") Follow Us
        .foll 
            a(href='//www.facebook.com') 
            img(src='/static/images/facebook.png' style="margin-left:12px;height:42px")
            a(href='https://www.instagram.com/')
            img(src='/static/images/instagram.png' style="margin-left:12px;height:42px" )
            a(href='https://www.linkedin.com/')
            img(src='/static/images/linkedin.png' style="margin-left:12px;height:42px")
            
        script(src="../static/script/contact.js", nonce="2726c7f26c")