extends basic.pug
block style 
    style 
        include ../static/css/createpost.css
        include ../static/css/dialogBox.css
block scripts 
       script(src="../static/script/dialogbox.js",nonce="2726c7f26c")        

block content

    .postcontainer
        h1 CreatePost
        hr
        form(action='/createpost' method='post' enctype='multipart/form-data')
            .postlabels
                label(for='category')  Category  
                input#category(type="text" placeholder="Enter Your Category" list="categories" name="category" required)
                datalist#categories
                    option Offer
                    option Employment
                    option Restaurant
                    option Houses
                    option hiring
                    option Education
                    option Gym & Fitness 
                    
                br
                label(for='city')  City 
                input#city(type="text" placeholder="Enter Your City" list="cities" name="city" required)
                datalist#cities
                    option Mumbai
                    option Delhi
                    option Bangalore
                    option Hyderabad
                    option Ahmedabad
                    option Chennai
                    option Kolkata
                    option Surat
                    option Pune
                    option Jaipur
                br
                
                label(for='title')  Title 
                input#title(type='text' name='title' placeholder="Enter Name Of Your Post" required)
                br
                label(for='Description') Description 
                textarea#description(name='Description' placeholder="Description Of Your Post" required)
                br
                label(for='contact')  Contact No 
                input#contact(type='number' name='contact' maxlength="11" pattern="[0-9]{10}" title="Must contain 0-9 digits only and 11 digits long" placeholder="Enter Your Contact No" required)
                br
                label(for='img')  Select Image 
                input#img(type='file' name='image' accept='image/*' required)
                
                button(type='submit' class="postbtn") CreatePost
                br
                br
    script(src="../static/script/createpost.js",nonce="2726c7f26c") 
