
//- button.w3-button.w3-black(onclick='document.getElementById('id01')styledisplay='block'') Open Animated Modal
.w3-modal-content.w3-animate-zoom.w3-card-4
    header.w3-container.w3-teal
      span.w3-button.w3-display-topright(onclick="onCloseDialogBox()") &times;
      h2#d-header Confirmation
    .w3-container
       p#d-info Are You Sure,do you really want to Logout?
    footer.w3-container.w3-teal#d-footer
      button(onclick="onCancelLogoutDialogBox()") Cancel 
      button(onclick="onContinueLogoutDialogBox()") #[a(href="/logout") Continue] 

    //- span.w3-button.w3-display-topright(onclick='document.getElementBy('id01').style.display='none'') &times;
//- div#d-container
//-    div.d-header 
//-        p Confirmation 
//-        span &times
//-    div.d-body 
//-        p Do you really want to logout?
//-    div.d-footer 
//-        button Cancel         
//-        button Continue         
