.modal-content
    .modal-header
        span.close &times;
        h1(style="justify-content: center;display: flex;") Share Post
    .modal-body
            label(for='email')
                .img1
                    img(src="../static/images/email.webp" style="margin:-1px;")
                    b(style="margin:5px") Email
                input(type='email' placeholder='Enter your recipients email' name='email' id="recipientEmail")
            p#emailError Invalid Email    
            button(type='button' class="btn1 SendText" id="SendText") Send                   