.f_container
    .header 
        p Followers
        span#close X
    .usersContainer
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
        .userBlock 
            .img
                img(src="../static/imagesForPost/profile.png", alt="")
            .name 
                | Jainish Kunjadiya
            .f_button 
                button(type="value") Follow
