.f_container
    .header 
        p= header
        span#close X
    .usersContainer
        if f_Array.length == 0
            .displayNone No User Found 
        each user in f_Array
            .userBlock 
                .img
                    if user.photo 
                        img(src=user.photo, alt="")
                    else
                        img(src="../static/imagesForPost/profile.png", alt="")
                .name= user.username
                .f_button 
                    button(type="button" class="follow_button" value=user._id id="f_btn"+user._id)= user.followersArray.includes(currentUserId)? "Unfollow" : "Follow"
