.modal-header
    span.close &times;
    h1(style="justify-content: center;display: flex;") Forgot Password
.modal-body
    form(action="" method="" class="forgotPassForm" )
        label(for='email')
            .img1
                img(src="../static/images/email.webp" style="margin:-1px;")
                b(style="margin:5px") Email
            input(type='email' class="forgotEmail" name='email' required)
        label(for='OTP')
            .img1
                img(src="../static/images/password.png" )
                b(style="margin:5px") OTP
            .otpInput 
                input.partitioned#otp1(type='number' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" pattern="[0-9]{1}" name='OTP1' required)
                input.partitioned#otp2(type='number' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" pattern="[0-9]{1}" name='OTP2' required)
                input.partitioned#otp3(type='number' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" pattern="[0-9]{1}" name='OTP3' required)
                input.partitioned#otp4(type='number' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" pattern="[0-9]{1}" name='OTP4' required)
                h3 Resend OTP
        input(type="hidden", name="OTP",id="OTP")
        button(type='submit' class="btn1") Submit 
script(src="../static/script/forgotPassword.js") 