.modal-header
    span.close &times;
    h1(style="justify-content: center;display: flex;") Forgot Password
.modal-body
    form(class="forgotPassForm")
        label(for='email')
            .img1
                img(src="../static/images/email.webp" style="margin:-1px;")
                b(style="margin:5px") Email
            input(type='email' class="forgotEmail" name='email' required)
            p#errorDisplay
        label(for='OTP')
            .img1
                img(src="../static/images/password.png" )
                b(style="margin:5px") OTP
            .otpInput 
                input.partitioned#otp1(type='number' maxlength="1" pattern="[0-9]{1}" name='OTP1' required)
                input.partitioned#otp2(type='number' maxlength="1" pattern="[0-9]{1}" name='OTP2' required)
                input.partitioned#otp3(type='number' maxlength="1" pattern="[0-9]{1}" name='OTP3' required)
                input.partitioned#otp4(type='number' maxlength="1" pattern="[0-9]{1}" name='OTP4' required)
                button#OTPSEND(type="button")  Send OTP
        input(type="hidden", name="OTP",id="OTP")
        button(type="button" class="btn1" id="forgetFormSubmitButton") Submit 