extends basic.pug

block style 
    style 
        include ../static/css/home.css
block content
    .scroll
        .cat 
            h2 Category
            select(onfocus='this.size=4;' onblur='this.size=1;' onchange='this.size=1; this.blur();')
                        option Offer
                        option Resturants
                        option Eduction
                        option Houses
                        option Gym & Fitness
                        option Furniture
                        option Fashion
                        option Sports Equipment
        .city 
            h2 City
            select(onfocus='this.size=4;' onblur='this.size=1;' onchange='this.size=1; this.blur();')
                        option Gandhinagar
                        option Ahmedabad
                        option Surat
                        option Baroda
                        option Rajkot
                        option Mehsana
                        option Kutch
                        option Palanpur
            


  

        

    block script 
        script
            include ../static/script/home.js
