extends basic.pug


block style 
    style 
        include ../static/css/myActivity.css
block scripts 
    script
        include ../static/script/myActivity.js

block content 
    div.container 
        div.buttonsdiv 
