extends basic.pug


block style 
    style 
        include ../static/css/myActivity.css
block scripts 
    script
        include ../static/script/myActivity.js

block content 
    div.container 
        div.buttonsdiv
            div.colourful#colourful 
            button(onclick='post();').activityChangebtn#postbtn Your Posts 
            button(onclick='activity();').activityChangebtn#activitybtn Your Activity 
        div.describe
            div.post#post
                div.ONEPOSTFOREXAMPLE
                    h2 TOTAL POST : 01
                div.ONEPOSTFOREXAMPLE
                    h2 TITLE 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit iste sit numquam aspernatur, quae, corrupti asperiores excepturi eos doloribus, odit quis dolore! Adipisci atque eum cumque sed optio rem at?
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit iste sit numquam aspernatur, quae, corrupti asperiores excepturi eos doloribus, odit quis dolore! Adipisci atque eum cumque sed optio rem at?
            div.activity#activity 
                div.ONEACTIVITYFOREXAMPLE
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores distinctio minus magni beatae libero quasi nostrum. Libero rerum atque perspiciatis ratione voluptatem dolorem alias placeat expedita, quos veniam ipsam dolore!
