doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Post
  link(rel='stylesheet' href='../static/css/PostAnand.css')
.container
  .custom-select
    label(for='category')  Category : 
    select#category(name='category')
      option(value='select')  Select 
      option(value='offer')  Offer 
      option(value='employment')  employment 
      option(value='restaurant')  restaurant 
      option(value='house rental')  house rental 
      option(value='hiring')  hiring 
  br
  .custom-select
    label(for='city')  City : 
    select#city(name='city')
      option(value='select')  Select 
      option(value='Ahmedabad')  Ahmedabad 
      option(value='Mumabai')  Mumabai 
      option(value='Delhi')  Delhi
      option(value='Chennai') Chennai 
      option(value='Rajkot')  Rajkot
      option(value='Banglore')  Banglore
    br
  .three
    label(for='title')  Title :
    input#title(type='text' name='title')
    br
  .four
    label(for='Description')  Description :
    textarea#Description(name='Description' rows='5' cols='5')
    br
  .five
    label(for='img')  Select Image 
    input#img(type='file' name='img' accept='image/*')
    br
  .seven
    button(type='post' value='post')  Post 
    br
