.modal-header
    span.close &times;
    h1(style="justify-content: center;display: flex;") Reset Password
.modal-body
    form(class="resetPassword")
        label(for='rPassword')
            .img1
                img(src="../static/images/password.png" style="margin:-1px;")
                b(style="margin:5px") New Password
            input(type='password' placeholder='Enter new password' class="border-below" name='rPassword' id="rPassword")
            p#errorDisplay
        input(type="hidden" name="email" id="email" value= email)
        label(for='cPassword')
            .img1
                img(src="../static/images/password.png" )
                b(style="margin:5px") Confirm Password
            input(type='password' placeholder='Enter confirm password' class="border-below" name='cPassword' id="cPassword")
        button(type='button' class="btn1 resetPasswordFormSubmit") Reset 
script(src="../static/script/resetPassword.js") 