.modal-header
    span.close &times;
    h1(style="justify-content: center;display: flex;") Reset Password
.modal-body
    form(action="" method="" class="resetPassword")
        label(for='rPassword')
            .img1
                img(src="../static/images/password.png" style="margin:-1px;")
                b(style="margin:5px") Email
            input(type='password' placeholder='Enter new password' name='rPassword' )
        label(for='cPassword')
            .img1
                img(src="../static/images/password.png" )
                b(style="margin:5px") Password
            input(type='password' placeholder='Enter confirm password' name='cPassword')
        button(type='submit' class="btn1") Reset 