style 
    include ../static/css/sideBar.css
script(src="../static/script/sidebar.js")
div#sideBarContent
    .header
        .Category Category
        .Cities City
    .content 
        .categoriesOptions
            .optionForCategory  
                input(type="button", name="category" ,value="All Category") 
            .optionForCategory  
                input(type="button", name="category" ,value="Offer") 
            .optionForCategory  
                input(type="button", name="category" ,value="Houserent") 
            .optionForCategory  
                input(type="button", name="category" ,value="Advertise") 
            .optionForCategory  
                input(type="button", name="category" ,value="hiring") 
        .citiesOptions
            .optionForCity   
                input(type="button", name="city" ,value="All City")
            .optionForCity   
                input(type="button", name="city" ,value="Ahmedabad")
            .optionForCity   
                input(type="button", name="city" ,value="mahesana")
            .optionForCity   
                input(type="button", name="city" ,value="Delhi")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Palanpur")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
            .optionForCity   
                input(type="button", name="city" ,value="Rajkot")
    .footerSidebar
        form(action="/",method="GET")
            input(type="hidden", id="finalCity" ,name="city",value=filter.city) 
            input(type="hidden", id="finalCategory",name="category",value=filter.category) 
            //- input.filterBtn(type="button", value="Filter",onclick="onFilter()")
            input.filterBtn(type="submit", value="Filter")