style 
    include ../static/css/sideBar.css
script(src="../static/script/sidebar.js")
div#sideBarContent
    .header
        .Category Category
        .Cities City
    .content 
        .categoriesOptions
            .optionForCategory  
                input(type="button", name="category" ,value="All Category") 
            .optionForCategory  
                input(type="button", name="category" ,value="Offer") 
            .optionForCategory  
                input(type="button", name="category" ,value="Employment") 
            .optionForCategory  
                input(type="button", name="category" ,value="Restaurant") 
            .optionForCategory  
                input(type="button", name="category" ,value="Houses") 
            .optionForCategory  
                input(type="button", name="category" ,value="hiring") 
            .optionForCategory  
                input(type="button", name="category" ,value="Education") 
            .optionForCategory  
                input(type="button", name="category" ,value="Gym & Fitness") 
        .citiesOptions
            .optionForCity   
                input(type="button", name="city" ,value="All City")
            .optionForCity   
                input(type="button", name="city" ,value="Mumbai")
            .optionForCity   
                input(type="button", name="city" ,value="Delhi")
            .optionForCity   
                input(type="button", name="city" ,value="Bangalore")
            .optionForCity   
                input(type="button", name="city" ,value="Hyderabad")
            .optionForCity   
                input(type="button", name="city" ,value="Ahmedabad")
            .optionForCity   
                input(type="button", name="city" ,value="Chennai")
            .optionForCity   
                input(type="button", name="city" ,value="Kolkata")
            .optionForCity   
                input(type="button", name="city" ,value="Surat")
            .optionForCity   
                input(type="button", name="city" ,value="Pune")
            .optionForCity   
                input(type="button", name="city" ,value="Jaipur")
    .footerSidebar
        form(action="/",method="GET")
            input(type="hidden", id="finalCity" ,name="city",value=filter.city) 
            input(type="hidden", id="finalCategory",name="category",value=filter.category) 
            //- input.filterBtn(type="button", value="Filter",onclick="onFilter()")
            input.filterBtn(type="submit", value="Filter")