doctype html
html
  head
    title Needy 
    style 
        include ../static/css/navbar.css
        include ../static/css/signup.css
        include ../static/css/login.css
     
    
  body
    nav.navbar
          div.start 
            | LOGO
          div.div#home #[a(href="/") Home] 
          div.div#category #[a(href="/") Category] 
          div.div#city #[a(href="/") City ]
          div.div#myActivity #[a(href="/") My Activity ]
          div.div#contactUs #[a(href="/") Contact Us ]
          div.div#aboutUs #[a(href="/") About Us]
          div.last 
              button.btn#myBtn Login
              button.btn#Singupbtn #[a(href="/signup") Signup] 
              button.btn#logoutbtn Logout
              button.btn#profilebtn profile 
    
    
    form(action='/signup')
        .container
            h1 Signup
            .form(style="outline") 
                label(for='name')
                    .b
                        img(src="/static/images/user.png")
                        b(style="margin:2px") Username
                    input(type='text' placeholder='Enter your first name and last name' name='name' )
                label(for='email')
                    .b
                        img(src="/static/images/email.png" style="margin:-1px;")
                        b(style="margin:5px") Email
                    input(type='email' placeholder='Enter your email' name='email' )
                label(for='password')
                    .b
                        img(src="/static/images/password.png" )
                        b(style="margin:5px") Password
                           
                    input(type='password' placeholder='Enter your password' name='password')
                label(for='cpassword')
                    .b
                        img(src="/static/images/password.png" )
                        b(style="margin:5px") Comfirm Password
                    input(type='password' placeholder='Enter your comfirm password' name='cpassword')
                label(for="city")
                    .b
                        img(src="/static/images/city.png" )
                        b(style="margin:5px") City
                    input(type="text" placeholder="Enter your city" name="city")
                label(for="work")
                    .b
                        img(src="/static/images/workplace.png" )
                        b(style="margin:5px") Company Name
                    input(type="text" placeholder="Enter your company name/work place" name="work")
                button.btn(type='submit') Signup
  
   

    
  
       
    #myModal.modal
        .modal-content
            .modal-header
                span.close &times;
                h2 Login
            .modal-body
        
                    form(action='/signup')
                            label(for='email')
                                .img
                                    img(src="/static/images/email.png" style="margin:-1px;")
                                    b(style="margin:5px") Email
                                input(type='email' placeholder='Enter your email' name='email' )
                            label(for='password')
                                .img
                                    img(src="/static/images/password.png" )
                                    b(style="margin:5px") Password
                                input(type='password' placeholder='Enter your password' name='password')
                            button.btn(type='submit') Login 
            

    script(src="../static/script/login.js") 