style
   include ../static/css/yourPost.css
link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
script 
   include ../static/script/post.js
div#post_container 
   //- div#profile
   //-    img(src="../static/imagesForPost/profile.png")
   //-    p#name ashwin chaudhary  
   //-       small at 15-05-2021 10:30
   //-    button#f-btn Follow
   div#main
      div#head
         div#descTime
            p  You Added This Post 1 hour ago....
         div#count 
            p  #{likes} Likes 
            p  #{comments} Comments
      div#main-img-desc     
         img#PostImg(src='../static/imagesForPost/Home.jpg')
         div.details
            div#title 
               p #[b Title] : I want to give my house on rent. 
            div#discription 
               p #[b Description] : My house is 2 BHK,it has two pair of  bathroom-sandash,also it has one private room where couple can sex without any tension. it is in residental area.You can contact me on 
               p #[b phone] : 6354584377 
            div#EditDeleteButton 
               button.editButton Edit
               button.deleteButton Delete
     
