.postsContainer {
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row;
}
.sideNavbar {
  background-color: rgb(242, 242, 189);
  width: 20%;
  position: fixed;
  right: 0px;
  height: -webkit-fill-available;
}
