.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 32px 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}
label input {
  width: 100%;
  margin: 2px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 22px;
}

.btn1 {
  width: 70px;
  margin-top: 10px;
  margin-left: 4px;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  height: 37px;
}
.img1 {
  font-size: 27px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
img {
  height: 30px;
}
.btn1:active {
  background-color: green;
  color: white;
}
::placeholder {
  font-size: 22px;
  color: black;
}

.img {
  font-size: 22px;
  margin-left: 34px;
  display: flex;
  align-items: center;
}
.redirector {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
h3 {
  cursor: pointer;
}
h3:hover {
  color: rgb(51, 113, 207);
}
.partitioned {
  outline: none !important;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid black;
  width: 50px;
  border-radius: 0;
  text-align: center;
}
.partitioned::-webkit-outer-spin-button,
.partitioned::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otpInput {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.forgotEmail {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  outline: none !important;
}
#errorDisplay {
  color: red;
  text-align: center;
  font-size: 15px;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#OTPSEND {
  padding: 10px;
  border: 1px solid green;
  font-size: 16px;
  width: 115px;
  border-radius: 5px;
}
.border-below {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  outline: none !important;
}
.border-below::placeholder {
  font-size: 18px;
  padding: 2px;
}
::placeholder {
  color: #888;
}
.btn1:disabled {
  border: none;
  cursor: none;
  background-color: rgb(80, 71, 71);
}

@media screen and (max-width: 1080px) {
  .modal-content {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
  .modal-body {
    padding: 32px 50px;
  }
}
@media screen and (max-width: 600px) {
  .modal-body {
    padding: 20px 10px;
  }
  .modal-content {
    width: 95%;
  }
  .img1 {
    font-size: 20px;
  }
  .modal-header h1 {
    font-size: 25px;
  }
  .partitioned {
    padding-left: 11px;
    width: 39px;
  }
  #OTPSEND {
    padding: 5px;
    font-size: 14px;
    width: 85px;
  }
  .btn1 {
    font-size: 16px;
  }
  label input {
    font-size: 18px;
  }
  .redirector h3 {
    font-size: 16px;
  }
}
