* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    min-height: 500px;
    margin: auto;
}

.buttonsdiv {
    height: 40px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.activityChangebtn {
    outline: none;
    width: 50%;
    height: 100%;
    border: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-weight: 900;
    transition: 400ms;
}

#postbtn {
    color: white;
}

.colourful {
    left: 0;
    background: rgb(15, 92, 95);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: 400ms;
}

.describe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.discribe .post,
.discribe .activity {
    width: 100%;
    transition: 400ms;
}

.ONEPOSTFOREXAMPLE,
.ONEACTIVITYFOREXAMPLE {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 2px 2px 1px 1px black;
}
<<<<<<< HEAD

body {
    background-color: white;
=======
body{
  background-color: white;
>>>>>>> c33914f976693264898bc565970320dab1290dc6
}