* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    min-height: 500px;
    margin: auto;
}

.buttonsdiv {
    height: 40px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.activityChangebtn {
    outline: none;
    width: 50%;
    height: 100%;
    border: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    font-weight: 900;
    transition: 400ms;
}

#postbtn {
    color: white;
}

.colourful {
    left: 0;
    background: rgb(15, 92, 95);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: 400ms;
}

.describe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.discribe .post,
.discribe .activity {
    width: 100%;
    transition: 400ms;
}

.post {
    width: inherit;
}

.ONEPOSTFOREXAMPLE,
.ONEACTIVITYFOREXAMPLE {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 2px 2px 1px 1px black;
    width: -webkit-fill-available;
}


/* .ONEACTIVITYFOREXAMPLE {
    width: 300px !important;
} */

body {
    background-color: white;
}

#action-content {
    font-size: 17px;
    padding: 5px 5px;
}

#action-content img {
    height: 14px;
}

#action-content p span {
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}


/* #g-post_container {
    width: 200px;

} */

.z-post_container {
    display: none;
    z-index: 3;
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

#activityCloseBtn {
    margin-left: auto;
    outline: none;
    cursor: pointer;
    /* border: none; */
    padding: 0px 11px;
}

@media screen and (max-width: 1240px) {}

@media screen and (max-width: 1080px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 540px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .activityChangebtn {
        font-size: 16px;
    }
    .ONEPOSTFOREXAMPLE h2,
    .ONEACTIVITYFOREXAMPLE h2 {
        font-size: 18px;
    }
}

.extraPForMyActivityPage {
    visibility: hidden;
    width: 0;
    height: 0;
}