* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  background: transparent;
  margin: 18px auto;
  background-color: #f2fcff;
  box-shadow: black 1px 1px 8px 2px;
  color: #000b38;
}
h1 {
  text-align: center;
  margin: 9px;
  color: #000b38;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #000b38;
  padding: 32px;
  margin: -3px;
}
.input {
  margin: 10px;
  padding: 4px;
  border: 1px solid #000b38;
  border-radius: 5px;
  margin-left: 35px;
  width: 400px;
  outline: none;
  height: 44px;
  font-size: 20px;
}
#checkbox {
  cursor: pointer;
}
.btnsignup {
  border: none;
  box-shadow: #000b38 1px 1px 8px 2px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #000b38, #f2fcff, #000b38);
  font-size: 18px;
  padding: 8px;
  color: black;
  width: 84px;
  margin-left: 180px;
}
.btnsignup:active {
  box-shadow: none;
  background: #000b38;
  color: white;
}
.b {
  font-size: 22px;
  margin-left: 34px;
  display: flex;
  flex-direction: row;
}
.b img {
  height: 27px;
}

::placeholder {
  font-size: 20px;
  color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 510px) and (max-width: 1080px) {
  .container {
    width: 470px;
    padding-bottom: 0px;
    border-radius: 14px;
    justify-content: center;
  }
  .input {
    width: 340px;
    height: 35px;
    border-radius: 3px;
    font-size: 15px;
  }
  .btnsignup {
    margin-left: 155px;
  }
  .input::placeholder {
    font-size: 15px;
    color: black;
  }
  .form label input[type="checkbox"] {
    width: 400px;
  }
}
@media screen and (min-width: 425px) and (max-width: 509px) {
  .container {
    width: 388px;
    padding-bottom: 0px;
    border-radius: 8px;
  }
  .form {
    padding-left: 20px;
  }
  .input {
    width: 280px;
    height: 30px;
    border-radius: 3px;
    font-size: 12px;
  }
  .input::placeholder {
    font-size: 12px;
  }
  .btnsignup {
    margin-left: 128px;
  }
  ::placeholder {
    font-size: 12px;
    color: black;
  }
  .form label input[type="checkbox"] {
    width: 400px;
  }
}

@media screen and (max-width: 424px) {
  .container {
    width: 320px;
    padding-bottom: 0px;
    border-radius: 5px;
  }
  .b {
    font-size: 18px;
  }
  .b img {
    height: 20px;
  }
  .form {
    padding-left: 0px;
  }
  .input {
    width: 230px;
    height: 25px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 0px;
  }
  .btnsignup {
    margin-left: 105px;
  }
  .input::placeholder {
    font-size: 12px;
    color: black;
  }
  .form label input[type="checkbox"] {
    width: 400px;
  }
}

@media screen and (max-device-width: 360px) {
  .container {
    width: 273px;
    padding-bottom: 0px;
    border-radius: 5px;
  }
  .form {
    padding-left: 0px;
  }
  .b {
    font-size: 18px;
  }
  .b img {
    height: 20px;
  }
  .input {
    width: 215px;
    height: 25px;
    border-radius: 2px;
    font-size: 10px;
    margin-top: 0px;
  }
  .btnsignup {
    margin-left: 95px;
  }
  .input::placeholder {
    font-size: 10px;
    color: black;
  }
  .form label input[type="checkbox"] {
    width: 400px;
  }
  #footer {
    padding: 5px;
  }
}
