#snackbar {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    position: fixed;
    /* bottom: 30px; */
    right: 30px;
    margin: 0px auto;
    z-index: 1;
    padding: 15px;
}

.show-snackbar {
    visibility: visible !important;
    animation: fadeIn 0.5s, fadeOut 0.5s 3s;
}

@keyframes fadeIn {
    from {
        right: 0px;
        opacity: 0;
    }
    to {
        right: 30px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        right: 30px;
        opacity: 1;
    }
    to {
        right: 0px;
        opacity: 0;
    }
}