<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* .fa-comment-o:before {
            content: "\f0e5";
        }
        
        .fa-comment:before {
            content: "\f075";
        } */
    </style>
</head>

<body>
    <i class="fa fa-thumbs-o-up"></i>
    <i class="fa fa-heart-o"></i>
    <i class="fa fa-car"></i>
    <i class="fa fa-file"></i>
    <i class="fa fa-bars"></i>
    <i class="fa fa-comment-o" onclick="change(this)" style="cursor: pointer;"></i>
    <i class="fa fa-share" style="color: yellow;"></i>
    <i class="fa fa-bookmark"></i>
</body>
<script src="./dummy.js"></script>

</html>